*{
    font-family: 'Times New Roman', serif;
    margin:0;
    padding:0;
}

.title h1{
    color: white;
    text-align: center;
    margin-top: 0;
    letter-spacing: 8px;
    font-size: 40px;
}

.title-bar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0px 10px;
    height: 40px;
}

.title{
    margin-bottom: 20px;
}

nav{
    background-color: black;
    display: flex;
    justify-content: end;
    padding: 10px;
    margin: 0px 10px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    margin-right: 10px;
    margin-left: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 5px;
}

nav a:hover{
    background-color: red;
}

footer{
    width: 100%;
  
}

.top-footer{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px 10px 0px 10px;
	display:flex;
	justify-content:space-between;
	height:340px;
    
}

.petcare-img{
 	border-radius:50%;
	border: 2px solid red;
	display: block; 
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
}

.section{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width:300px;
	padding:20px;
    align-items: center;
}

#pet-care p{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 250px;
    display: block; 
	margin-left:auto;
    margin-right:auto;
}

.info-item{
    display: flex;
    justify-content: start;
    padding: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.info-icon img{
    border-radius: 50%;
    padding: 5px;   
}

.info-text{
    margin-left: 10px;
}

.footer-navbar{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    margin-bottom: 50px;
}

.footer-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-navbar a{
    color: white;
    text-decoration: none;
    font-weight: 300;
}


.footer-navbar li{
    margin-top: 10px;
    margin-bottom: 20px;
}

.bottom-footer{
    background-color: #747272;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #696666;
    color: white;
    margin: 30px;
    border: 5px solid rgb(255, 255, 255);
    opacity: 0.8;
}

.home-welcome{
    display: block;
    margin: auto;
}

.home-description{
    text-align: center;
    width: 100%;
    border-top: 3px solid white;
    margin-bottom: 90px;
}

.home-description button{
    
}

.home-description p{
    display: block;
    margin: 0px auto 10px auto;
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
    max-width: 800px;
    text-align: center;
}