*{
    font-family: 'Times New Roman', serif;
    margin:0;
    padding:0;
}

.title h1{
    color: white;
    text-align: center;
    margin-top: 0;
    letter-spacing: 8px;
    font-size: 40px;
}

.title-bar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0px 10px;
    height: 40px;
}

.title{
    margin-bottom: 20px;
}

nav{
    background-color: black;
    display: flex;
    justify-content: end;
    padding: 10px;
    margin: 0px 10px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    margin-right: 10px;
    margin-left: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 5px;
}

nav a:hover{
    background-color: red;
}

footer{
    width: 100%;
  
}

.top-footer{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0px 10px 0px 10px;
	display:flex;
	justify-content:space-between;
	height:340px;
    
}

.petcare-img{
 	border-radius:50%;
	border: 2px solid red;
	display: block; 
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
}

.section{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width:300px;
	padding:20px;
    align-items: center;
}

#pet-care p{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 250px;
    display: block; 
	margin-left:auto;
    margin-right:auto;
}

.info-item{
    display: flex;
    justify-content: start;
    padding: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.info-icon img{
    border-radius: 50%;
    padding: 5px;   
}

.info-text{
    margin-left: 10px;
}

.footer-navbar{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    margin-bottom: 50px;
}

.footer-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-navbar a{
    color: white;
    text-decoration: none;
    font-weight: 300;
}


.footer-navbar li{
    margin-top: 10px;
    margin-bottom: 20px;
}

.bottom-footer{
    background-color: #747272;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #696666;
    color: white;
    margin: 30px;
    border: 5px solid rgb(255, 255, 255);
    opacity: 0.8;
}

.home-welcome{
    display: block;
    margin: auto;
}

.home-description{
    text-align: center;
    width: 100%;
    border-top: 3px solid white;
    margin-bottom: 90px;
}

.home-description button{
    border: 3px solid red;
    padding: 2px 40px;
    font-size: medium;
    font-weight: 600;
    
}

home-description a{
    text-decoration: none;
    color: black;
}

.home-description p{
    display: block;
    margin: 0px auto 10px auto;
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
    max-width: 800px;
    text-align: center;
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 40px;
}

.about-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
}

.about-description p{
    font-size: 15px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    color: rgb(124, 124, 124);
}

.about-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 2px solid black;
    max-width: 220px; 
    font-variant: small-caps;
    padding: 10px;
}

.about-details{
    display: block;
    margin: 20px auto;
    text-align: center;
    max-width: 400px;
    
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.nav-button {
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 3px 0;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
  font-weight: 200;
}

.nav-button:hover {
  border: 2px solid green;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}   

.review-content {
   background-color: #747272;
    margin: 10px;
}

.review-header {
    text-align: left;
    color: rgb(230, 209, 22);
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
    border-bottom: 2px solid white;
    max-width: 150px;
    padding: 10px 10px 10px 0px;
    font-variant: small-caps;
   
}   

.review-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.review-item{
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}



.review-item img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.review-item p{
    font-size: 14px;
    color: #918e8e;
}

.review-item h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.review-text{
    font-size: 16px;
    display: block;
    margin: 30px auto;
    color: #666565;
    max-width: 120px;
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    text-align: center;

}

.contact-container {
  width: 60%;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  color: black;

}

.contact-details {
  background-color: rgb(4, 165, 194);
    padding: 20px;
    margin: 0 10px;
}

.contact-container h2 {
  font-weight: bold;
  margin-bottom: 5px;
  font-variant: small-caps;
}

.underline {
  width: 150px;
  height: 2px;
  background-color: black;
  margin: 10px auto 30px;
  box-shadow: white 2px 2px 10px;   
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

input {
  background-color: white;
}

textarea {
  background-color: #eeee6b;
  height: 120px;
  resize: none;
}

.contact-details button {
  background-color: #eeee11;
  color: black;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 7px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

button:hover {
  background-color: #e0d822;
}